.conlogo{
    margin-left: 500px;
}
form{
    margin-left: 100px;
    margin-right: 100px;
}
.txtip{
    width: 1200px;
    height: 30px;
    border-radius: 5px;

}
textarea{
    border-radius: 5px;
    width: 1200px;
}
.tp{
    width: 600px;
    height: 30px;
}
.sbtn{
    margin-left: 600px;
    background-color: skyblue;
    width: 80px;
    height: 30px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
}